
nav.navbar {
    margin-bottom: 1rem;
}
.navbar-link span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.icon-number {
    position: absolute;
    z-index: 100;
    color: #fff;
    border-radius: 1em;
    background-color: #a00;
    font-size: 0.7em;
    padding: 0em 0.2em;
    font-weight: bold;
    margin-left: 0.2rem;
    margin-top: -1.0rem;
}
.admin-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.admin-menu {
    /*border-right: 1px solid #eee;*/
}


#filter_form .checkbox-group-row {
    display: inline;
}
#filter_form .checkbox-group-row label {
    padding: 0 1.5rem 0 0.3rem;
}
.control .checkbox-group-row label {
    padding: 0 1.5rem 0.5rem 0.3rem;
}

table a.button span.icon {
    padding: 0 1.2rem 0 0.8rem;
}
.level-item button.button span.icon {
    padding: 0 1.5rem 0 0.8rem;
}
.level-item a.button span.icon {
    padding: 0 1.5rem 0 0.8rem;
}