
nav.navbar {
    margin-bottom: 1rem;
}
.navbar-link span {
    padding-left: 1rem;
    padding-right: 1rem;
}

.admin-container {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.admin-menu {
    /*border-right: 1px solid #eee;*/
}


#filter_form .checkbox-group-row {
    display: inline;
}
#filter_form .checkbox-group-row label {
    padding: 0 1.5rem 0 0.3rem;
}
.control .checkbox-group-row label {
    padding: 0 1.5rem 0.5rem 0.3rem;
}

table a.button span.icon {
    padding: 0 1.2rem 0 0.8rem;
}
.list-action span.icon {
    padding: 0 1.5rem 0 0.8rem;
}
.admin-list-table td {
    vertical-align: middle;
}